body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
}

/* Tipografia */
label, h3 {
    font-weight: bold;
    line-height: 40px;
    color: #0D1422;
}

h4, small {
    color: rgba(255, 255, 255, 0.5);
}

strong, .text-dark-flat {
    color: #0D1422;
}

.form-control {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #dfe6e9;
    -moz-appearance: textfield;
}

.text-bold {
    font-weight: bold;
}

ul {
    padding-left: 0;
}

ul > li {
    list-style-type: none;
    text-align: justify;
}

/* Colors */
.bg-flat-dark {
    background: #0D1422;
    /* background: linear-gradient(to right, #0d1422, #03dece); */
}

.text-blue-flat {
    color: #03DECE;
}

.btn-calc {
    background: #0D1422;
}

.btn-calc {
    color: white;
    background: #03DECE;
    -webkit-box-shadow: 1px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 1px 2px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 1px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.btn-calc:hover {
    color: white;
    background: #0D1422;
    /* border-radius: 30px !important; */
}